header .parent-container {
  margin: 20px auto;
  width: 400px;
  height: 400px;
}

.parent-container img {
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
  height: 300px;
  margin-bottom: 0%;
}

.child-one {
  text-align: center;
}

.child-two {
  text-align: center;
  border: thin black solid;
  border-top: none;
  border-left: none;
  border-right: none;
  font-style: italic;
  font-size: 18px;
}

body {
  background-color: lightskyblue;
  text-align: center;
}

.introduction {
  margin-top: 50px;
  font-style: oblique;
}

.parent-container2 {
  margin-top: 25px;
  text-align: left;
}

.parent-container2 h3 {
  color: blue;
}
.child-three li {
  list-style-type: none;
  margin-top: 10px;
}
