header {
  display: block;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
header img {
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  border-radius: 100px;
  margin-bottom: 0%;
}

header h1 {
  margin-top: 10px;
  margin-bottom: 0%;
}

header p {
  margin-top: 5px;
  border: thin black solid;
  padding-bottom: 0.5rem;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 0.5em;
  font-style: italic;
}

body {
  background-color: lightskyblue;
  display: block;
  text-align: center;
}
